.movie img {
  width: 450px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px;
  border-radius: 20px;
}
.movie {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 500px;
  margin-bottom: 30px;
}
.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
